.loading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dedos{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 60%;
    width: 90%;
}
.dedos div span{
    display: flex;
    width: 80%;
    height: 20%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: var(--cor);
    margin-bottom: 10px;
}
.dedos div:nth-child(1), .dedos div:nth-child(2), .dedos div:nth-child(3), .dedos div:nth-child(4), .dedos div:nth-child(5){
    border-radius: 10px;
    border: 2px solid var(--cor);
    width: 15%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: white;
    z-index: 1;

}
.dedos div:nth-child(1){
    animation: dedo1 1.5s linear infinite;
    animation-duration: 1.2s;
    height: 60%;
}
.dedos div:nth-child(2){
    animation: dedo2 1.5s linear infinite;
    animation-duration: 1.1s;
    height: 70%;
}
.dedos div:nth-child(3){
    animation: dedo3 1.5s linear infinite;
    animation-duration: 1.3s;
    height: 80%;
}
.dedos div:nth-child(4){
    animation: dedo2 1.5s linear infinite;
    animation-duration: 1.5s;
    height: 70%;
}
.dedos div:nth-child(5){
    animation: dedo5 1.5s linear infinite;
    margin-right: -100px;
    margin-top: -5px;
    z-index: 0;
    animation-duration: 2s;
    border-radius: 17% 56% 10% 73% / 35% 64% 10% 54%;
    height: 29px;
    width: 68px;
    border: 2px solid var(--cor);
    position: absolute;
}
.dedos i{
    position: absolute;
    background: whitesmoke;
    width: 110px;
    height: 120px;
}
.loading h3{
    color: var(--cor);
    margin-top: 250px;
    position: absolute;
}
@keyframes bola {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
@keyframes indo {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(-360deg);
        }
    }
@keyframes voltando {
    from{
        transform: rotateZ(360deg);
    }
}
@keyframes dedo1 {
    0%{
        transform: rotate3d(0, 0, 0, 45deg);
        height: 60%;
    }
    30%{
        height: 60%;
        margin-top: 0px;
    }
    50%{
        transform: rotate3d(1, 0, 0, 25deg);
        height: 50%;
        margin-top: -50px;
    }
    70%{
        height: 50%;
        margin-top: -50px;

    }
    100%{
        height: 60%;
        margin-top: 0px;
    }
}
@keyframes dedo2 {
    0%{
        transform: rotate3d(0, 0, 0, 45deg);
        height: 70%;
    }
    30%{
        margin-top: 0px;
        height: 70%;
    }
    50%{
        transform: rotate3d(1, 0, 0, 25deg);
        height: 60%;
        margin-top: -50px;
    }
    70%{
        height: 60%;
        margin-top: -50px;

    }
    100%{
        height: 70%;
        margin-top: 0px;
    }
}
@keyframes dedo3 {
    0%{
        transform: rotate3d(0, 0, 0, 45deg);
        height: 80%;
    }
    30%{
        margin-top: 0px;
        height: 80%;
    }
    50%{
        transform: rotate3d(1, 0, 0, 15deg);
        height: 70%;
        margin-top: -50px;
    }
    70%{
        height: 70%;
        margin-top: -50px;

    }
    100%{
        height: 80%;
        margin-top: 0px;
    }
}
@keyframes dedo5 {
    0%{
        transform: rotateZ(0deg);
    }
    30%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(-45deg);    
    }
    70%{
        transform: rotateZ(-45deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
@media screen and (max-width:600px) {
    .loading h3{
        width: 100%;
    }
}